html {
	background-image:url(Fondo.png);
	
}
p{
    	text-align:justify;
	font-size:20px;
}

.p1 {
	text-align:center;
	font-size:30px;
}

.e {
	font-size:50px;
}
/* body */	
#B1 {
	background-image:url(Fondo.png);
	/*height:1350px;*/
 	width:1100px;
	margin:auto;
}
/* header */
#f1 { 
	background-image:url(Fondo.png);
	height:350px;
 	width:1100px;
}
/* section */
#f2 { 
	background-image:url(Fondo.png);
	/*height:1000px;/*
 	width:1100px;
	
}
/* nav */
#f5{ 
	
	height:100px;
 	width:1100px;
	
}

#f5 ul{
	list-style:none;
	position:relative;
	padding:0;
	margin:0;
	display:flex;
	justify-content:center;
}

#f5 li{
	position:relative;
	float:left;
}

#f5 ul a{
	display:block;
	color:#000000;
	text-decoration:none;
	font-weight:700;
	font-size:18px;
	line-height:40px;
	padding:0 15px;
	/*font-family:arial;*/
}

#f5 ul li.v {
	/*background:#FFEBEE;*/
}

#f5 ul li:hover{
	background:#ffc0cb;
	
}

#f5 ul ul{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background-color:#ffc0cb;
	padding:0px;
}

#f5 ul ul li{
	float:none;
	width:200px;
	border-radius:30px;
	
}

#f5 ul ul a{
	line-height:120%;
	padding:10px 15px;
}

#f5 ul ul ul{
	top:0;
	left:100%;
}

#f5 ul li:hover > ul{
	background-color:#ff1493;
	display:block;
}
/*aside*/
#f6 { 
	height:300px;
 	width:1100px;
	
}
/* section */
#f4 { 
	/*height:400px;*/
 	width:1100px;
	
}

/* footer */
#f9 { 
	background-image:url(Fondo.png);
	/*height:200px;*/
 	width:1100px;
	
}

		